<section class="login container-fluid">
	<div class="login-box center-block">
		<div class="header-text row">
			<h1>Welcome to Scribble.</h1>
		</div>
		<hr>
		<div>
			<i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
		</div>
		<div class="description">
			<h4>Scribble is an interactive journal that helps you better understand your writing habits and emotions within your entries. You write what's on your mind; Scribble does the rest.</h4>
		</div>
		<div class="oauth row" ng-click="googleOauth()">
			<h4>Sign in with Google</h4>
		</div>
	</div>
</section>